<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="REDES.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="REDES.My.MySettings.ORDENESConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=G:\OPERACIONES\BD_ORDENES\ORDENES.accdb"
            providerName="System.Data.OleDb" />
        <add name="REDES.My.MySettings.OPERACIONES_LOGConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=G:\OPERACIONES\BD_OPERACIONES_LOG\OPERACIONES_LOG.accdb"
            providerName="System.Data.OleDb" />
        <add name="REDES.My.MySettings.MDUConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=G:\OPERACIONES\BD_MDU\Base de Datos\MDU.accdb"
            providerName="System.Data.OleDb" />
        <add name="REDES.My.MySettings.ANALISIS_AGConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=G:\OPERACIONES\BD_AGENDA\ANALISIS_AG.accdb"
            providerName="System.Data.OleDb" />
        <add name="REDES.My.MySettings.BASEFUENTESConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=G:\OPERACIONES\BD_FUENTES\BASEFUENTES.accdb"
            providerName="System.Data.OleDb" />
        <add name="REDES.My.MySettings.INDICESConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=G:\OPERACIONES\BD_CREAR_ORDINAL\INDICES.accdb"
            providerName="System.Data.OleDb" />
        <add name="REDES.My.MySettings.INFORME_INIDICESConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=G:\OPERACIONES\BD_INDICE\Indices.accdb"
            providerName="System.Data.OleDb" />
        <add name="REDES.My.MySettings.OBRAS_MDUConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=G:\OPERACIONES\BD_OBRAS\OBRAS_MDU.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <REDES.My.MySettings>
            <setting name="Validar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Pass" serializeAs="String">
                <value />
            </setting>
            <setting name="NotasVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PRUEBA" serializeAs="String">
                <value />
            </setting>
        </REDES.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
